* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sono', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f3ee;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h1 {
  text-align: center;
}

hr {
  font-weight: bold;
  height: 3px;
  background: black;
  margin-bottom: 10px;
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.game button {
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
  font-size: 50px;
  background: #f0dddd;
}

button {
  margin: 5% 3% 5% 0;
  padding: 1.5vmin;
  background-color: rgb(217, 19, 101);
  color: white;
  border-radius: 1vmin;
  font-size: 3vmin;
}


#message {
  margin-top: 0;
  margin-bottom: 5vmin;
  color: rgb(8, 8, 8);
}